  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }

.mapa iframe{
    width: 20%;
    float: left;
}

.produto-carrossel-container {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.produto-card {
  flex: 0 0 auto; /* impede de encolher */
  width: 200px;
}

.produto-carrossel-container::-webkit-scrollbar {
  display: none;
}

.carrossel-seta {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.custom-navbar {
  background-color: #000000 !important; /* tom preto sólido */
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff; /* letras brancas */
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #cccccc; /* branco mais suave ao passar o mouse */
}

.navbar {
  background-color: #000000 !important;
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .dropdown-toggle,
.navbar .dropdown-item {
  color: #ffffff !important;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover,
.navbar .dropdown-item:hover {
  color: #cccccc !important; /* um leve cinza para dar destaque no hover */
}

.dropdown-menu{
  background-color: #000;
}

.dropdown-item{
  background-color: #000;
}

.btn-comprar {
  background-color: #3E8914;
  border-color: #3E8914;
  color: white;
}

.btn-comprar:hover {
  background-color: #356c11; /* Um tom mais escuro para o hover */
  border-color: #356c11;
}

.whats{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;  
}

.whats img{
  width: 70px;
}

footer {
  background-color: #000;
  color: #fff;
  margin-left: calc(-50vw + 50%);
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
}

footer a {
  color: #ffffff; /* links também brancos */
  text-decoration: none;
}

footer a:hover {
  color: #cccccc;
}